 <link rel="stylesheet" href="/static/components/editor.md/css/editormd.css" />
 <script src="/static/components/editor.md/editormd.min.js"></script>
<div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">博客 管理中心<b>></b><strong>添加单页面</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="/admin/template" class="actionBtn">单页面列表</a>添加单页面</h3>
            <form action="/admin/template/add" method="post">
     <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
       <td width="80" align="right">单页面名称</td>
       <td>
        <input type="text" name="name" size="40" class="inpMain" value="{{.temp.Name}}"/>
       </td>
      </tr>
      <tr>
       <td align="right">单页面内容</td>
       <td id="editor" class="editormd">
			<textarea class="editormd-markdown-textarea" name="content">{{.temp.Content}}</textarea>
       </td>
      </tr>
      <tr>
       <td align="right">简单描述</td>
       <td>
        <input type="text" name="remark" value="{{.temp.Remark}}" size="90" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td></td>
       <td>
        <input type="hidden" name="id" value="{{.temp.Id}}">
        <input name="save" class="btn" id="btn_save" type="submit" value="提交" />
       </td>
      </tr>
     </table>
    </form>
   </div>
 </div>
 <div class="clear"></div>

<script type="text/javascript">
	var testEditor;
    $(function() {
         testEditor = editormd("editor", {
             width   : "90%",
             height  : 640,
             path    : "/static/components/editor.md/lib/",
			 imageUpload    : true,
		     imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp"],
		     imageUploadURL : "/upload"
         });
	});
</script>