  <link rel="stylesheet" href="/static/components/editor.md/css/editormd.css" />
 <script src="/static/components/editor.md/editormd.min.js"></script>
<div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">博客 管理中心<b>></b><strong>添加文章</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
            <h3><a href="/admin/article" class="actionBtn">文章列表</a>添加文章</h3>
    <form action="/admin/article/add" method="post">
     <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
       <td width="90" align="right">文章标题</td>
       <td>
        <input type="text" name="title" value="" size="80" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="right">文章分类</td>
       <td>
        <select name="articletype">
			<option value="0">请选择分类</option>
			{{range .articletypes}}
         	<option value="{{.Id}}">{{.Name}}</option>
		 	{{end}}
        </select>
       </td>
      </tr>
	<tr>
       <td align="right">简单描述</td>
       <td>
        <input type="text" name="intro" value="" size="50" class="inpMain" />
       </td>
      </tr>
            <tr>
       <td align="right" valign="top">文章内容</td>
       <td id="editor" class="editormd">
			<textarea class="editormd-markdown-textarea" name="content"></textarea>
       </td>
      </tr>
      <tr>
       <td></td>
       <td>
		<input type="hidden" name="id"/>
        <input name="submit" class="btn" type="submit" value="提交" />
       </td>
      </tr>
     </table>
    </form>
       </div>
 </div>
 <div class="clear"></div>
 <script type="text/javascript">
 var testEditor;
 onload = function()
 {
	testEditor = editormd("editor", {
	     width   : "90%",
	     height  : 640,
	     path    : "/static/components/editor.md/lib/",
		 imageUpload    : true,
	     imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp"],
	     imageUploadURL : "/upload",
		 theme:"default",
		 editorTheme:"default",
		 previewTheme:"default"
    });
 }

 function douAction()
 {
     var frm = document.forms['action'];

     frm.elements['new_cat_id'].style.display = frm.elements['action'].value == 'category_move' ? '' : 'none';
 }
 
 </script>