 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">DouPHP 管理中心<b>></b><strong>博客分类</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="/admin/articletype/add" class="actionBtn add">添加分类</a>博客分类</h3>
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
     <tr>
        <th width="30" align="center">编号</th>
        <th width="100" align="center">分类名称</th>
       <th width="60" align="center">排序</th>
        <th width="80" align="center">操作</th>
      </tr>
		{{range .datas}}
        <tr>
			<td align="center">{{.Id}}</td>
	        <td align="center"> <a href="article.php?cat_id=1">{{.Name}}</a></td>
	        <td align="center">{{.Orderno}}</td>
	        <td align="center"><a href="/admin/articletype/update/{{.Id}}">编辑</a> | <a href="/admin/articletype/delete/{{.Id}}">删除</a></td>
      	</tr>
		{{end}}
    </table>
   </div>
 </div>
 <div class="clear"></div>