<style type="text/css">
	img {
        border: 0 none;
        opacity: 1;
        -webkit-transition:.3s ease-in-out;
        transition: .3s ease-in-out;
    }
	.images li{
		list-style:none;
		float:left;
		margin:25px;
	}
	.images ul li img{
		width:200px;
		height:200px;
	}
    .images span{
		display:none;
	}
    a:hover img{
		cursor:pointer;
		background-color:
		filter:alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7;
    }
	a:hover span{ display:block;position:absolute; bottom:0; left:0;color:#FFF;width:554px; 
z-index:10;height:36px; line-height:36px; background:#000;filter:alpha(opacity=60);-moz-opacity:0.5;opacity: 0.5;}
</style>
 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">博客 管理中心<b>></b><strong>照片列表</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="/admin/gallery/add" class="actionBtn add">添加照片</a>照片列表</h3>
		
		<div class="images">
	        <ul>
				{{range .datas}}
	        	<li>
	        		<a href="/admin/gallery/update/{{.Id}}"><img src="{{.Imgurl}}" title="{{.Title}}"></a>
	        	</li>
				{{end}}
	        </ul>
    	</div>
		
 <div class="clear"></div>
    <div class="pager">总计 {{.count}} 个记录，共 {{.pageCount}} 页，当前第 {{.page}} 页 | {{if ne .page 1}}<a href="/admin/gallery/1">第一页</a>{{else}}第一页{{end}} {{if ne .page 1}}<a href="/admin/gallery/{{Down .page 1}}">上一页</a>{{else}}上一页{{end}} {{if lt .page .pageCount}}<a href="/admin/gallery/{{Up .page 1}}">下一页</a>{{else}}下一页{{end}} {{if lt .page .pageCount}}<a href="/admin/gallery/{{.pageCount}}">最末页</a>{{else}}最末页{{end}}</div>           </div>
</div>
<script type="text/javascript">
onload = function()
{
 document.forms['action'].reset();
}
function douAction()
{
 var frm = document.forms['action'];
 frm.elements['new_cat_id'].style.display = frm.elements['action'].value == 'category_move' ? '' : 'none';
}
</script>