 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">DouPHP 管理中心<b>></b><strong>商品分类</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="/admin/gallerytype/add" class="actionBtn add">添加分类</a>照片分类</h3>
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
        <th width="120" align="left">分类名称</th>
        <th align="left">别名</th>
        <th align="left">简单描述</th>
       <th width="60" align="center">排序</th>
        <th width="80" align="center">操作</th>
     </tr>
            <tr>
        <td align="left"> <a href="product.php?cat_id=1">电子数码</a></td>
        <td>digital</td>
        <td>电子产品销售</td>
        <td align="center">10</td>
        <td align="center"><a href="product_category.php?rec=edit&cat_id=1">编辑</a> | <a href="product_category.php?rec=del&cat_id=1">删除</a></td>
     </tr>
            <tr>
        <td align="left">- <a href="product.php?cat_id=4">智能手机</a></td>
        <td>phone</td>
        <td>智能手机销售</td>
        <td align="center">50</td>
        <td align="center"><a href="product_category.php?rec=edit&cat_id=4">编辑</a> | <a href="product_category.php?rec=del&cat_id=4">删除</a></td>
     </tr>
            <tr>
        <td align="left">- <a href="product.php?cat_id=5">平板电脑</a></td>
        <td>tabletpc</td>
        <td>平板电脑销售</td>
        <td align="center">50</td>
        <td align="center"><a href="product_category.php?rec=edit&cat_id=5">编辑</a> | <a href="product_category.php?rec=del&cat_id=5">删除</a></td>
     </tr>
            <tr>
        <td align="left"> <a href="product.php?cat_id=2">家居百货</a></td>
        <td>home</td>
        <td>家居百货产品销售</td>
        <td align="center">20</td>
        <td align="center"><a href="product_category.php?rec=edit&cat_id=2">编辑</a> | <a href="product_category.php?rec=del&cat_id=2">删除</a></td>
     </tr>
            <tr>
        <td align="left"> <a href="product.php?cat_id=3">母婴用品</a></td>
        <td>baby</td>
        <td>母婴用品销售</td>
        <td align="center">30</td>
        <td align="center"><a href="product_category.php?rec=edit&cat_id=3">编辑</a> | <a href="product_category.php?rec=del&cat_id=3">删除</a></td>
     </tr>
          </table>
           </div>
 </div>
 <div class="clear"></div>