
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>博客 管理中心</title>
<meta name="Copyright" content="Douco Design." />
<link href="/static/css/public.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/global.js"></script>
<script type="text/javascript" src="/static/js/jquery.tab.js"></script>
<script type="text/javascript" src="/static/js/jquery.autotextarea.js"></script>
</head>
<body>
<div id="dcWrap"> <div id="dcHead">
 <div id="head">
<!--  <div class="logo"><a href="index.html"></div>-->
  <div class="nav">
   <ul>
    <li class="M"><a href="JavaScript:void(0);" class="topAdd">新建</a>
     <div class="drop mTopad"><a href="product.php?rec=add">商品</a> <a href="article.php?rec=add">文章</a> <a href="nav.php?rec=add">自定义导航</a> <a href="show.html">首页幻灯</a> <a href="page.php?rec=add">单页面</a> <a href="manager.php?rec=add">管理员</a> <a href="link.html"></a> </div>
    </li>
    <li><a href="/index" target="_blank">查看站点</a></li>
<!--    <li><a href="index.php?rec=clear_cache">清除缓存</a></li>-->
    <li><a href="/help" target="_blank">帮助</a></li>
<!--    <li class="noRight"><a href="module.html">DouPHP+</a></li>-->
   </ul>
   <ul class="navRight">
    <li class="M noLeft"><a href="JavaScript:void(0);">您好，{{.currUser.Nickname}}</a>
     <div class="drop mUser">
      <a href="manager.php?rec=edit&id=1">编辑我的个人资料</a>
      <a href="manager.php?rec=cloud_account">设置云账户</a>
     </div>
    </li>
    <li class="noRight"><a href="/admin/exit">退出</a></li>
   </ul>
  </div>
 </div>
</div>
<!-- dcHead 结束 --> <div id="dcLeft"><div id="menu">
 <ul class="top">
  <li><a href="/admin/main"><i class="home"></i><em>管理首页</em></a></li>
 </ul>
 <ul>
  <li class={{.c1}}><a href="/admin/setting"><i class="system"></i><em>系统设置</em></a></li>
  <li class={{.c2}}><a href="/admin/template"><i class="page"></i><em>单页面管理</em></a></li>
 </ul>
   <ul class="leftSide">
  <li class={{.c3}}><a href="/admin/gallerytype"><i class="productCat"></i><em>照片分类</em></a></li>
  <li class={{.c4}}><a href="/admin/gallery"><i class="product"></i><em>照片列表</em></a></li>
 </ul>
  <ul class="leftSide">
  <li class={{.c5}}><a href="article_category.html"><i class="articleCat"></i><em>博客分类</em></a></li>
  <li class={{.c6}}><a href="article.html"><i class="article"></i><em>博客列表</em></a></li>
 </ul>
   <ul class="bot leftSide">
  <li class={{.c7}}><a href="mobile.html"><i class="mobile"></i><em>手机版</em></a></li>
  <li class={{.c8}}><a href="manager.html"><i class="manager"></i><em>网站管理员</em></a></li>
  <li class={{.c9}}><a href="manager.php?rec=manager_log"><i class="managerLog"></i><em>操作记录</em></a></li>
 </ul>
</div></div>

{{.LayoutContent}}

<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
   版权所有 © 2013-2015 漳州豆壳网络科技有限公司，并保留所有权利。
  </ul>
 </div>
</div><!-- dcFooter 结束 -->
<div class="clear"></div> </div>

</body>
</html>