 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">博客 管理中心<b>></b><strong>友情链接列表</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="/admin/link/add" class="actionBtn add">添加链接</a>链接列表</h3>
    <div class="filter">
    <form action="/admin/link" method="post">
     编号：<input name="s_id" type="text" class="inpMain" value="" size="20" />
     链接名称：<input name="s_name" type="text" class="inpMain" value="" size="20" />
     链接地址：<input name="s_url" type="text" class="inpMain" value="" size="20" />
     <input name="submit" class="btnGray" type="submit" value="筛选" />
    </form>
    <span>
<!--        <a class="btnGray" href="article.php?rec=sort">开始筛选首页文章</a>-->
        </span>
    </div>
        <div id="list">
    <form name="action" method="post" action="article.php?rec=action">
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
     <tr>
      <th width="22" align="center"><input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
      <th width="40" align="center">编号</th>
      <th align="left">链接名称</th>
      <th width="150" align="center">链接地址</th>
      <th width="80" align="center">显示顺序</th>
      <th width="80" align="center">操作</th>
     </tr>
          <tr>
		{{range .datas}}
      <td align="center"><input type="checkbox" name="checkbox" value="{{.Id}}" /></td>
      <td align="center">{{.Id}}</td>
      <td>{{.Name}}</td>
      <td align="center"><a href="{{.Url}}" target="_blank">{{.Url}}</a></td>
      <td align="center">{{.Orderno}}</td>
      <td align="center">
              <a href="/admin/link/update/{{.Id}}">编辑</a> | <a href="/admin/link/delete/{{.Id}}">删除</a>
      </td>
     </tr>
	{{end}}
         </table>
    <div class="action">
     <select name="action" onchange="douAction()" id="operate">
      <option value="0">请选择...</option>
      <option value="del_all">删除</option>
     </select>
     <select name="new_cat_id" style="display:none">
      <option value="0">未分类</option>
                  <option value="1"> 公司动态</option>
                        <option value="2"> 行业新闻</option>
                 </select>
     <input name="submit" class="btn" type="button" value="执行" id="doAction"/>
    </div>
    </form>
    </div>
    <div class="clear"></div>
    <div class="pager">总计 {{.count}} 个记录，共 {{.pageCount}} 页，当前第 {{.page}} 页 | {{if ne .page 1}}<a href="/admin/link/1">第一页</a>{{else}}第一页{{end}} {{if ne .page 1}}<a href="/admin/link/{{Down .page 1}}">上一页</a>{{else}}上一页{{end}} {{if ne .page .pageCount}}<a href="/admin/link/{{Up .page 1}}">下一页</a>{{else}}下一页{{end}} {{if ne .page .pageCount}}<a href="/admin/link/{{.pageCount}}">最末页</a>{{else}}最末页{{end}}</div>           </div>
 </div>
 <div class="clear"></div>
 <script type="text/javascript">
 
 onload = function()
 {
   document.forms['action'].reset();
 }

 function douAction()
 {
     var frm = document.forms['action'];

     frm.elements['new_cat_id'].style.display = frm.elements['action'].value == 'category_move' ? '' : 'none';
	
	jQuery("#doAction").click(function(){
		del();
	});
	
 }
	function del(){
		if(jQuery("#operate").val() == "del_all"){		//如果单击“删除”
		var str = [];
        jQuery("input[type='checkbox']:checked").each(function(){
			str.push(jQuery(this).val());
		});
		if(!str.length){
			alert("请先选择您要删除的数据");
			return;
		}
		if(confirm("您确定要删除吗？")){
			jQuery.post("/admin/link/delete",{ids:str.join(",")},function(result){
			if(result.succ){
				window.location.href = "/admin/link";
			}else{
				alert(result.msg);
			}
		});
		}
	 }
	}

 </script>
</body>
</html>