 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">博客 管理中心<b>></b><strong>操作记录</strong> </div>   <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3>操作记录</h3>
                    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
     <tr>
      <th width="30" align="center">编号</th>
      <th width="150" align="left">操作时间</th>
      <th width="100" align="center">操作者</th>
      <th align="left">操作记录</th>
      <th width="100" align="center">IP地址</th>
     </tr>
	{{range .datas}}
		<tr>
      <td align="center">{{.Id}}</td>
      <td>{{FormatTimeStamp .Optime "2006-01-02 15:04:05"}}</td>
      <td align="center">{{.Opname}}</td>
      <td align="left">{{.Record}}</td>
      <td align="center">{{.Ipaddr}}</td>
     </tr>
	{{end}}
         </table>
    <div class="pager">总计 {{.count}} 个记录，共 {{.pageCount}} 页，当前第 {{.page}} 页 | {{if ne .page 1}}<a href="/admin/log/1">第一页</a>{{else}}第一页{{end}} {{if ne .page 1}}<a href="/admin/log/{{Down .page 1}}">上一页</a>{{else}}上一页{{end}} {{if lt .page .pageCount}}<a href="/admin/log/{{Up .page 1}}">下一页</a>{{else}}下一页{{end}} {{if lt .page .pageCount}}<a href="/admin/log/{{.pageCount}}">最末页</a>{{else}}最末页{{end}}</div>           </div>
 </div>
 <div class="clear"></div>