 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">博客 管理中心<b>></b><strong>网站管理员</strong> </div>   <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="/admin/manager/add" class="actionBtn">添加管理员</a>网站管理员</h3>
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
     <tr>
      <th width="30" align="center">编号</th>
      <th align="center">管理员名称</th>
      <th align="center">管理员昵称</th>
	  <th align="center">联系地址</th>
	  <th align="center">手机号</th>
      <th align="center">E-mail地址</th>
      <th align="center">添加时间</th>
      <th align="center">最后登录时间</th>
      <th align="center">最后登录ip</th>
      <th align="center">操作</th>
     </tr>
	{{range .datas}}
          <tr>
      <td align="center">{{.Id}}</td>
      <td align="center">{{.Name}}</td>
      <td align="center">{{.Nickname}}</td>
	<td align="center">{{.Address}}</td>
	 <td align="center">{{.Mobile}}</td>
      <td align="center">{{.Email}}</td>
      <td align="center">{{FormatTimeStamp .Addtime "2006-01-02 15:04:05"}}</td>
      <td align="center">{{FormatTimeStamp .Lastlogin "2006-01-02 15:04:05"}}</td>
      <td align="center">{{.Lastip}}</td>
      <td align="center"><a href="/admin/manager/update/{{.Id}}">编辑</a> | <a href="/admin/manager/delete/{{.Id}}">删除</a></td>
     </tr>
	{{end}}
         </table>
		<div class="clear"></div>
    <div class="pager">总计 {{.count}} 个记录，共 {{.pageCount}} 页，当前第 {{.page}} 页 | {{if ne .page 1}}<a href="/admin/manager/1">第一页</a>{{else}}第一页{{end}} {{if ne .page 1}}<a href="/admin/manager/{{Down .page 1}}">上一页</a>{{else}}上一页{{end}} {{if ne .page .pageCount}}<a href="/admin/manager/{{Up .page 1}}">下一页</a>{{else}}下一页{{end}} {{if ne .page .pageCount}}<a href="/admin/manager/{{.pageCount}}">最末页</a>{{else}}最末页{{end}}</div>           </div>
		
   </div>
 </div>
 <div class="clear"></div>