 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">博客 管理中心<b>></b><strong>系统设置</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3>系统设置</h3>
    <script type="text/javascript">
     
     $(function(){ $(".idTabs").idTabs(); });
     
    </script>
    <div class="idTabs">
      <ul class="tab">
        <li><a href="#display">显示设置</a></li>
        <li><a href="#mail">邮件服务器</a></li>
       </ul>
      <div class="items">
       <form action="/admin/setting/update" method="post">
        <div id="display">
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
         <tr>
           <th width="131">名称</th>
           <th>内容</th>
         </tr>
         <tr>
           <td align="right">首页文章分页大小</td>
           <td>
            <input type="text" name="indexcount" value="{{.setting.Indexcount}}" size="80" class="inpMain" />
                       </td>
          </tr>
                    <tr>
           <td align="right">首页相册分页大小</td>
           <td>
            <input type="text" name="gallerycount" value="{{.setting.Gallerycount}}" size="80" class="inpMain" />
                       </td>
          </tr>
                    <tr>
           <td align="right">博客分页大小</td>
           <td>
            <input type="text" name="blogcount" value="{{.setting.Blogcount}}" size="80" class="inpMain" />
                       </td>
          </tr>
                    <tr>
           <td align="right">博客分类显示数量</td>
           <td>
            <input type="text" name="typecount" value="{{.setting.Typecount}}" size="80" class="inpMain" />
                       </td>
          </tr>
		<tr>
           <td align="right">最新发布查询数量</td>
           <td>
            <input type="text" name="recentpostcount" value="{{.setting.Recentpostcount}}" size="80" class="inpMain" />
                       </td>
          </tr>
		<tr>
           <td align="right">最新评论显示数量</td>
           <td>
            <input type="text" name="recentcommentcount" value="{{.setting.Recentcommentcount}}" size="80" class="inpMain" />
                       </td>
          </tr>
		<tr>
           <td align="right">IP黑名单</td>
           <td>
            <input type="text" name="blackip" value="{{.setting.Blackip}}" size="80" class="inpMain" />
                       </td>
          </tr>
		<tr>
           <td align="right">站点名称</td>
           <td>
            <input type="text" name="sitename" value="{{.setting.Sitename}}" size="80" class="inpMain" />
                       </td>
          </tr>
                                    </table>
        </div>
                <div id="mail">
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
         <tr>
           <th width="131">名称</th>
           <th>内容</th>
         </tr>
                  <tr>
          <td align="right">邮件服务</td>
          <td>
                      <label for="mail_service_0">
            <input type="radio" name="mail_service" id="mail_service_0" value="0" checked="true">
            系统内置Mail服务</label>
           <label for="mail_service_1">
            <input type="radio" name="mail_service" id="mail_service_1" value="1">
            SMTP服务</label>
                                              <span class="cue ml">如果选择系统内置Mail服务则以下SMTP有关信息无需填写</span>
                                 </td>
         </tr>
                  <tr>
          <td align="right">SMTP服务器</td>
          <td>
                      <input type="text" name="mail_host" value="smtp.domain.com" size="80" class="inpMain" />
                                              <p class="cue">一般邮件服务器地址为：smtp.domain.com，如果是本机则对应localhost即可</p>
                                 </td>
         </tr>
                  <tr>
          <td align="right">服务器端口</td>
          <td>
                      <input type="text" name="mail_port" value="25" size="80" class="inpMain" />
                                </td>
         </tr>
                  <tr>
          <td align="right">是否使用SSL安全协议</td>
          <td>
                      <label for="mail_ssl_0">
            <input type="radio" name="mail_ssl" id="mail_ssl_0" value="0" checked="true">
            否</label>
           <label for="mail_ssl_1">
            <input type="radio" name="mail_ssl" id="mail_ssl_1" value="1">
            是</label>
                                </td>
         </tr>
                  <tr>
          <td align="right">发件邮箱</td>
          <td>
                      <input type="text" name="mail_username" value="" size="80" class="inpMain" />
                                </td>
         </tr>
                  <tr>
          <td align="right">发件邮箱密码</td>
          <td>
                      <input type="text" name="mail_password" value="" size="80" class="inpMain" />
                                </td>
         </tr>
                 </table>
        </div>
                <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
         <tr>
          <td width="131"></td>
          <td>
           <input type="hidden" name="id" value="{{.setting.Id}}" />
           <input name="submit" class="btn" type="submit" value="提交" />
		   <span id="err" style="color:red;margin-left:20px;">{{.errmsg}}</span>
          </td>
         </tr>
        </table>
        </form>
      </div>
    </div>
   </div>
 </div>
 <div class="clear"></div>