<div class="about">
    <div class="container">
        <div class="about-text">
            <h3>What We Are All About</h3>
            <p>It’s not always easy to filter out noise and purely focus on the content. Too many blogs and news sites are filled with colourful and distracting advertisement left right and centre. This is where we do things differently! Rather than just focusing purely and generating revenue, we focus on great user experience.
                <br>
                <br> You will notice that our news articles are content focused and free of any distractions. On top of that, we deliver content revolving design on a daily basis. Offering you insightful tutorials, techniques, design inspirations, mobile app development, coding, unique advertisements, and freebies.
                <br>
                <br> Our focus is and forever will be to bring high quality resources to lean from and to be inspired. Visit us daily for new design related articles!</p>
        </div>
        <div class="about-team">
            <h3>Meet Our Team! </h3>
            <div class="team-grids">
                <div class="col-md-4 team-mbrs">
                    <a href="singlepage.html"> <img src="/static/images/img4.jpg" class="img-circle img-responsive zoom-img" title="Kimberly" alt="" /> </a>
                    <a href="singlepage.html">
                        <h4>Kimberly Thompson</h4> </a>
                    <h6>Founder & CEO</h6>
                    <p>Kimberly is the founder and the CEO of our company. With 10 years of experience in the tech industry, she ensures all operations are running smoothly.</p>
                </div>
                <div class="col-md-4 team-mbrs">
                    <a href="singlepage.html"> <img src="/static/images/img5.jpg" alt="" title="Rico" class="img-circle img-responsive zoom-img" /></a>
                    <a href="singlepage.html"><h4>Rico Masi</h4></a>
                    <h6>Code Master</h6>
                    <p>There’s no challege Rico can’t tame! Making sure everything is safe and secure on the back end, you can say that he’s the heart of this team. </p>
                </div>
                <div class="col-md-4 team-mbrs">
                    <a href="singlepage.html"><img src="/static/images/img6.jpg" alt="" title="Uku" class="img-circle img-responsive zoom-img" /> </a>
                    <a href="singlepage.html">
                        <h4>Uku Mason</h4> </a>
                    <h6>Marketing Expert</h6>
                    <p>Not your average marketer. Uku manages everything from, marketing and finance to customer relation.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="team-grids">
                <div class="col-md-6 team-grids-info2">
                    <a href="singlepage.html"> <img src="/static/images/img7.jpg" alt="" title="Robar" class="img-circle img-responsive zoom-img" /> </a>
                    <div class="team-grids-text-one">
                        <a href="singlepage.html">
                            <h4>Blaz Robar</h4> </a>
                        <h6>Design Guru</h6>
                        <p> Highly experienced UI/UX designer, Blaz brings our ideas to life with his beautiful visual designs.</p>
                    </div>
                </div>
                <div class="col-md-6 team-grids-info2">
                    <a href="singlepage.html"> <img src="/static/images/img8.jpg" alt="" title="Jamie" class="img-circle img-responsive zoom-img" /> </a>
                    <div class="team-grids-text-two">
                        <a href="singlepage.html"><h4>Jamie Adams</h4></a>
                        <h6>Assistant</h6>
                        <p>Don’t let the picture fool you. Jamie is the glue that holds our team together! Managing everthing from recruitments, social gatherings, and everyday operations.</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
