<!--single-page-->
<div class="single-page">
    <div class="container">
        <div class="col-md-8 single-page-left">
            <h4> <a href="singlepage.html">FRINGILLA CONDIMENTUM </a></h4>
            <p>Posted By <a href="#">Admin</a> &nbsp;&nbsp; on march 2, 2015 &nbsp;&nbsp; <a href="#">Comments</a> (10)</p>
            <div class="single-page-info">
                <div class="sngl-img">
                    <a href="singlepage.html"> <img src="/static/images/img15.jpg" class="img-responsive zoom-img" alt="" /></a>
                </div>
                <h5><a href="singlepage.html">CONDIMENTUM FRINGILLA FRINGILLA CONDIMENTUM,FINIBUS BONORUM MALORUM, DONEC UT QUAM LIGULA, SED NISI LOBORTIS.</a></h5>
                <p class="sngl-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    <br> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                <div class="read-more">
                    <a href="newsblog.html"><span> Read More</span> </a>
                </div>
                <h4> <a href="singlepage.html">LOREM IPSUM DOLOR </a></h4>
                <p>Posted By <a href="#">Admin</a> &nbsp;&nbsp; on march 5, 2015 &nbsp;&nbsp; <a href="#">Comments</a> (10)</p>
                <div class="sngl-img">
                    <a href="singlepage.html"> <img src="/static/images/img31.jpg" class="img-responsive zoom-img" alt="" /></a>
                </div>
                <h5><a href="singlepage.html">CONDIMENTUM FRINGILLA, FRINGILLA CONDIMENTUM,FINIBUS BONORUM MALORUM, DONEC UT QUAM LIGULA, SED NISI LOBORTIS.</a></h5>
                <p class="sngl-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit.There are many variations of passages of Lorem Ipsum available.</p>
                <div class="read-more">
                    <a href="singlepage.html"><span>Read More </span></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 single-page-right">
            <div class="category">
                <h4>CATEGORIES</h4>
                <ul>
                    <li><a href="singlepage.html">Donec ut quam ligula feugiat scelerisque.</a></li>
                    <li><a href="singlepage.html">Etiam volutpat tortor quis nibh lobortis</a></li>
                    <li><a href="singlepage.html">Fusce vitae dolor vitae blandit varius.</a></li>
                    <li><a href="singlepage.html">Proin commodo metus sed nisi lobortis.</a></li>
                    <li><a href="singlepage.html">Nunc volutpat neque vel augue interdum.</a></li>
                    <li><a href="singlepage.html">condimentum fringilla justo lobortis.</a></li>
                    <li><a href="singlepage.html">Vivamus consequat dolor ac est congue.</a></li>
                </ul>
            </div>
            <div class="recent-posts">
                <h4>RECENT POSTS</h4>
                <div class="recent-posts-info">
                    <div class="posts-left sngl-img">
                        <a href="singlepage.html"> <img src="/static/images/img16.jpg" class="img-responsive zoom-img" alt="" /> </a>
                    </div>
                    <div class="posts-right">
                        <lable>MARCH 5, 2015</lable>
                        <a href="singlepage.html">
                            <h5>FRINGILLA CONDIMENTUM </h5> </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing incididunt.</p>
                        <div class="read-more">
                            <a href="singlepage.html"><span>Read More </span></a>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="recent-posts-info">
                    <div class="posts-left sngl-img">
                        <a href="singlepage.html"> <img src="/static/images/img17.jpg" class="img-responsive zoom-img" alt="" /></a>
                    </div>
                    <div class="posts-right">
                        <lable>MARCH 1, 2015</lable>
                        <a href="singlepage.html"><h5>FINIBUS BONORUM MALORUM </h5></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing incididunt.</p>
                        <div class="read-more">
                            <a href="singlepage.html"><span>Read More </span></a>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="comments">
                <h4>RECENT COMMENTS</h4>
                <div class="comments-info">
                    <div class="cmnt-icon-left">
                        <a href="singlepage.html"><img src="/static/images/icon1.png" alt="" /></a>
                    </div>
                    <div class="cmnt-icon-right">
                        <p>MARCH 1, 2015</p>
                        <p><a href="singlepage.html">Admin</a></p>
                    </div>
                    <div class="clearfix"> </div>
                    <p class="cmmnt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="comments-info">
                    <div class="cmnt-icon-left">
                        <a href="singlepage.html"><img src="/static/images/icon1.png" alt="" /></a>
                    </div>
                    <div class="cmnt-icon-right">
                        <p>MARCH 1, 2015</p>
                        <a href="singlepage.html">
                            <p>Admin</p>
                        </a>
                    </div>
                    <div class="clearfix"> </div>
                    <p class="cmmnt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="comments-info">
                    <div class="cmnt-icon-left">
                        <a href="singlepage.html"><img src="/static/images/icon1.png" alt="" /></a>
                    </div>
                    <div class="cmnt-icon-right">
                        <p>MARCH 1, 2015</p>
                        <a href="singlepage.html">
                            <p>Admin</p>
                        </a>
                    </div>
                    <div class="clearfix"> </div>
                    <p class="cmmnt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="pag-nations sngl-pagntn">
            <ul class="p_n-list">
                <li>
                    <a href="#" class="prev"></a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">.</a></li>
                <li><a href="#">.</a></li>
                <li><a href="#">.</a></li>
                <li>
                    <a href="#" class="next"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--//single-page-->
<!--//blog-->
