<!--contact-->
<div class="contact">
    <div class="container">
        <h3>联系我</h3>
        <div class="map">
            <h4>联系方式</h4>
        </div>
        <div class="address">
            <div class="col-md-4 address-grids">
                <h4>地址 :</h4>
                <ul>
                    <li class="home"> </li>
                    <li>
                        <p>陕西省西安市灞桥区
                            <br> 国际港务区港务大道中段,
                            <br> 陆港保税大厦</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 address-grids">
                <h4>电话 | QQ</h4>
                <p><span class="phn"></span>+13200000000</p>
                <p><span class="fax"></span>+1419901425</p>
            </div>
            <div class="col-md-4 address-grids">
                <h4>邮箱</h4>
                <p><span class="mail"></span><a href="mailto:caiya928@aliyun.com">caiya928@aliyun.com</a></p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="contact-infom">
            <h4>关于站点 :</h4>
            <div>
            	这里输入使用到的技术（模板直接调用）
            </div>
        </div>
        <div class="contact-form">
            <h4>联系</h4>
            <form action="" method="post">
                <input type="text" value="" placeholder="名称" required>
                <input type="email" value="" placeholder="邮箱" required>
                <textarea type="text" placeholder="在这里输入备注"></textarea>
                <button class="btn1 btn-1 btn-1b">提交</button>
            </form>
        </div>
    </div>
</div>
